@font-face {
   font-family: 'myFont';
   src: url('./Raleway-Black.ttf'),
        url('./Raleway-BlackItalic.ttf');
   font-weight: 600;
   font-style: normal;
}

.hello {
   color: red;
   font-family: 'myFont';
   background: url('./icon.png');
}